<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<select id="selectAllMember" resultType="MemberDTO">
		select * from member
	</select>
	
	<!-- 회원 가입 데이터 중복 확인 -->
	<select id="checkData" parameterType="hashmap" resultType="MemberDTO">
		select * from member
		<choose>
			<when test="type=='id'"><!-- #{type}으로 하면 오류, key 값을 어떻게 인식하는 걸까? -->
				where id = #{data}
			</when>
			<when test="type=='memberName'">
				where member_name = #{data}
			</when>
			<when test="type=='email'">
				where email = #{data}
			</when>
			<otherwise>
				where phone = #{data}
			</otherwise>
		</choose>
	</select>
	
	<!-- 회원 가입 -->
	<insert id="joinMember" parameterType="hashMap">
		insert into member (id, password, member_name, email, phone, member_role)
		values (#{id}, #{password}, #{member_name}, #{email}, #{phone}, 1)
	</insert>
	
	<!-- 아이디로 회원 찾기 -->
	<select id="selectMember" parameterType="hashMap" resultType="MemberDTO">
		select * from member
		where id = #{id}
	</select>
	
	<!-- 로그인 : 아이디-비밀번호 매칭 -->
	<select id="login" parameterType="hashMap" resultType="MemberDTO">
		select * from member
		where id = #{id}
		and password = #{password}
	</select>
	
	<!-- 비밀번호 수정 -->
	<update id="changePassword" parameterType="hashMap">
		update member
		set password = #{data}
		where id = #{id}
	</update>
	
	<!-- 이름 수정 -->
	<update id="changeName" parameterType="hashMap">
		update member
		set member_name = #{data}
		where id = #{id}
	</update>
	
	<!-- 연락처 수정 -->
	<update id="changePhone" parameterType="hashMap">
		update member
		set phone = #{data}
		where id = #{id}
	</update>
	
	<!-- 이메일 수정 -->
	<update id="changeEmail" parameterType="hashMap">
		update member
		set email = #{data}
		where id = #{id}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteMember">
		delete from member
		where id = #{id}
	</delete>
	
	<!-- 회원 작성 후기 목록 -->
	<select id="selectMemberReview" resultType="ReviewDTO">
		select r.review_no, id, r.shop_no, rate, review_content, review_created, review_img_route, shop_name
		from review r
		LEFT OUTER JOIN review_img i
			ON r.review_no = i.review_no
		join shop s
			on r.shop_no = s.shop_no
		where id = #{id}
		order by review_created desc
	</select>
	
	<!-- 회원 스크랩 가게 목록 -->
	<select id="selectMemberShop" resultType="int">
		select shop_no
		from scrap
		where id = #{id}
		order by scrap_created desc
	</select>
</mapper>